---
import Layout from "../layouts/Layout.astro";
import Card_1 from "../components/Card_1.astro";
---

<Layout title="Welcome to Astro.">
  <div class="w-full flex justify-center pt-10">
    <Card_1 />
  </div>
</Layout>
