<div class="w-72 rounded-lg flex flex-col items-center p-4 shadow-md">
  <div class="flex flex-col gap-4 items-center">
    <img
      width="64"
      class="rounded-full"
      src="https://xsgames.co/randomusers/assets/avatars/male/63.jpg"
      alt=""
    />
    <span class="px-2 py-1 rounded-md bg-cyan-200"> PRO</span>
  </div>

  <div class="flex flex-col gap-2 items-center mt-4 text-slate-800">
    <h3 class="text-xl font-semibold">Hans Melchor</h3>
    <span class="opacity-80 text-sm">Full stack developer</span>
    <p class="text-center opacity-80 text-sm">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita dolor,
      dignissimos illo culpa autem.
    </p>
  </div>

  <div class="flex w-full justify-evenly mt-6">
    <a href="">
      <img
        width="24"
        src="https://cdn-icons-png.flaticon.com/128/1384/1384031.png"
        alt=""
      />
    </a>
    <a href="">
      <img
        width="24"
        src="https://cdn-icons-png.flaticon.com/128/1384/1384031.png"
        alt=""
      />
    </a>
    <a href="">
      <img
        width="24"
        src="https://cdn-icons-png.flaticon.com/128/1384/1384031.png"
        alt=""
      />
    </a>
    <a href="">
      <img
        width="24"
        src="https://cdn-icons-png.flaticon.com/128/1384/1384031.png"
        alt=""
      />
    </a>
  </div>

  <div class="mt-6 flex justify-between w-full px-8">
    <button class="border-2 border-slate-800 px-3 py-2 rounded-lg"
      >Message</button
    >
    <button
      class="border-2 border-slate-800 px-3 py-2 bg-slate-800 rounded-lg text-white"
      >Connect</button
    >
  </div>
</div>
